
body{
    background-color: white;
}
#first{
    padding: 1%;
    height: 60px;
    font-size: 20px;
    width: 300px;
    margin-left: 85px;


}

#second{
    padding: 1px;
    background-color: tomato;
    color: rgb(7, 6, 6);
    width: 300px;
    height: 100px;
    font-size: 20px;
    text-align: center;
}
.breakfast{
    background-image: url(./assets/foodtop/breakfast.jpg);
    text-align: center;
    color: white;

}
#header{
    text-align: center;
    background-image: url(./assets/backgrounds/landing.jpg);
    padding:40px;
  }
  
  span{
      color:white;
  }

    
}
#img1{
    background-image: url(./assets/backgrounds/landing.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    height: auto;
    margin-bottom: 0%;
}
#menu{
    text-align: center;
    background-color: tomato;


    
}
#image-container{
    display: inline;
    grid-template-rows: repeat(2, 1fr);
    align-items: flex-start;
    flex-direction: row;
}
#footer-images{
display: inline;
}